
*{margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: black;
}
h1{
        color: chartreuse;
        background-color: black;
        text-align: center;
        margin: 20px;
        font-size: 2rem;
        padding: 10px;
        border-radius: 10px;
}
.container{
        display:flex;
        justify-content: center;
        align-items: center ;
        flex-wrap: wrap;
        width: 100%;
        height: 500px;
}
.cric{
        margin: 10px;
        width: 300px;
        height: 300px;
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: center;
        position: relative;
        
}
img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        
}
p{
        position:absolute;
        opacity: 0;
        color:chartreuse;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        
    
}
.cric:hover p{
        height:330px;
        width: 100%;
        opacity: 1.5;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        font-size: 1.8rem;
        display: flex;
        background-color: black;
}
